<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.jimcarry.mapper.QuotationAcceptMapper">

    <insert id="insertQuotationAccept" parameterType="QuotationAcceptEntity">
		INSERT INTO tbl_quotation_accept (
				quotation_req_no
				,cust_id
				,driver_id
				,accept_dt
				,move_status
				,cid
		) VALUES (
			#{quotationReqNo} 
			,#{custId}         
			,#{driverId}        
			,#{acceptDt}        
			,#{movingState}      
			,#{cid}            
		)
    </insert>
    <select id="selectQuotationAcceptList">
    
    </select>
    <select id="selectQuotationAcceptByCustomers">
    
    </select>
    <select id="selectQuotationAcceptByDrivers">
    
    </select>
</mapper>