<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.jimcarry.mapper.ReqQuotationMapper">
	<resultMap id="reqQuotationResultMap" type="ReqQuotationEntity">
	    <result column="QUOTATION_REQ_NO" property="quotationReqNo" />
	    <result column="QUOTATION_DT" property="quotationDt" />
	    <result column="CUST_ID" property="custId" />
	    <result column="PICKUP_ADDR" property="pickupAddr" />
	    <result column="DELIVERY_ADDR" property="deliveryAddr" />
	    <result column="MOVE_DT" property="moveDt" />
	    <result column="QUOTATION_AMOUNT" property="quotationAmount" />
	    <result column="BUILDING_TYPE" property="buildingType" />
	    <result column="ROOM_STRUCTURE" property="roomStructure" />
	    <result column="HOUSE_SIZE" property="houseSize" />
	    <result column="HAS_ELEVATOR" property="hasElevator" />
	    <result column="BOX_COUNT" property="boxCount" />
	</resultMap>

	<select id="selectAllReqQuotations" resultType="ReqQuotationEntity">
	     SELECT 
            QUOTATION_REQ_NO
            , QUOTATION_DT
            , CUST_ID
            , PICKUP_ADDR
            , DELIVERY_ADDR
            , MOVE_DT
            , QUOTATION_AMOUNT
            , BUILDING_TYPE
            , ROOM_STRUCTURE AS roomStructure
            , HOUSE_SIZE
            , HAS_ELEVATOR
            , BOX_COUNT
            , cid
            , status
        FROM tbl_quotation
	</select>
	<select id="selectReqQuotationByUser" parameterType="ReqQuotationEntity" resultType="ReqQuotationEntity">
        SELECT 
            QUOTATION_REQ_NO
            , QUOTATION_DT
            , CUST_ID
            , PICKUP_ADDR
            , DELIVERY_ADDR
            , MOVE_DT
            , QUOTATION_AMOUNT
            , BUILDING_TYPE
            , ROOM_STRUCTURE AS roomStructure
            , HOUSE_SIZE
            , HAS_ELEVATOR
            , BOX_COUNT
            , cid
            , status
        FROM tbl_quotation
        WHERE CUST_ID = #{custId}
	</select>
	<select id="selectReqQuotation" resultType="ReqQuotationEntity">
        SELECT 
            QUOTATION_REQ_NO
            , QUOTATION_DT
            , CUST_ID
            , PICKUP_ADDR
            , DELIVERY_ADDR
            , MOVE_DT
            , QUOTATION_AMOUNT
            , BUILDING_TYPE
            , ROOM_STRUCTURE AS roomStructure
            , HOUSE_SIZE
            , HAS_ELEVATOR
            , BOX_COUNT
            , cid
            , status
        FROM tbl_quotation
        WHERE QUOTATION_REQ_NO = #{quotationReqNo}
	</select>
    <insert id="insertReqQuotation" parameterType="ReqQuotationEntity">
       INSERT INTO tbl_quotation (
            QUOTATION_REQ_NO
            , CUST_ID
            , PICKUP_ADDR
            , DELIVERY_ADDR
            , MOVE_DT
            , QUOTATION_AMOUNT
            , BUILDING_TYPE
            , ROOM_STRUCTURE
            , HOUSE_SIZE
            , HAS_ELEVATOR
            , BOX_COUNT
            , CID
        )
        VALUES (
            #{quotationReqNo}
            , #{custId}
            , #{pickupAddr}
            , #{deliveryAddr}
            , #{moveDt}
            , #{quotationAmount}
            , #{buildingType}
            , #{roomStructure}
            , #{houseSize}
            , #{hasElevator}
            , #{boxCount}
            , #{cid}
        )
    </insert>
    <delete id="deleteReqQuotation">
		DELETE FROM tbl_quotation WHERE QUOTATION_REQ_NO = #{quotationReqNo}
    </delete>
    <update id="updateReqQuotation">
        UPDATE tbl_quotation
        SET 
             PICKUP_ADDR = #{pickupAddr}
            , DELIVERY_ADDR = #{deliveryAddr}
            , MOVE_DT = #{moveDt}
            , QUOTATION_AMOUNT = #{quotationAmount}
            , BUILDING_TYPE = #{buildingType}
            , ROOM_STRUCTURE = #{roomStructure}
            , HOUSE_SIZE = #{houseSize}
            , HAS_ELEVATOR = #{hasElevator}
            , BOX_COUNT = #{boxCount}
            , UID = #{cid}
            , UDT = CURRENT_TIMESTAMP()
            , version = version + 1
        WHERE QUOTATION_REQ_NO = #{quotationReqNo} AND version = #{version}
    </update>
    <update id="updateReqQuotationStatus" parameterType="map">
        UPDATE tbl_quotation
        SET status = #{status}
        WHERE QUOTATION_REQ_NO = #{quotationReqNo}
    </update>
</mapper>