<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.jimcarry.mapper.RoleMapper">

    <insert id="insertRoleInfo" parameterType="com.study.jimcarry.domain.RoleEntity">
        INSERT INTO roles (role_name, description)
        VALUES (#{roleName}, #{description})
    </insert>

    <select id="selectRoleById" resultType="com.study.jimcarry.domain.RoleEntity">
        SELECT * FROM roles WHERE role_id = #{roleId}
    </select>

    <select id="selectAllRoles" resultType="com.study.jimcarry.domain.RoleEntity">
        SELECT * FROM roles
    </select>

    <update id="updateRole" parameterType="com.study.jimcarry.domain.RoleEntity">
        UPDATE roles
        SET role_name = #{roleName},
            description = #{description}
        WHERE role_id = #{roleId}
    </update>

    <delete id="deleteRole">
        DELETE FROM roles WHERE role_id = #{roleId}
    </delete>

</mapper>